<!DOCTYPE html>
<html>

<head>
    <title>Taiwan Buying Net</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/website icon.ico') }}">
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<body>
    <header class="bar_header">
        <!--網站標題-->
        <a href="{{ url_for('home_index') }}"><img src="{{ url_for('static', filename='images/website.png') }}"></a>
        <!-- <h1><a href="{{ url_for('home_index') }}">臺 灣 公 報 資 訊 網</a></h1>
        <h2 id="englishTitle"><a href="{{ url_for('home_index') }}">Taiwan Buying Information Net</a></h2>
        <img src="{{ url_for('static', filename='images/website icon.png') }}"> -->
        <!--<input id="button_Login" type="button" value="Login" onclick="">-->
    </header>

    <ul id="tabs">
        <input type="" name="case" class="tab_ref hidden_item">
        <li class="tab_case"><a href="#tab-1" name="tab1">找 標 案</a></li>
    </ul>

    <div id="content">
        <div id="tab1">
            <!--tab1:找標案-->
            <div class="col-content">
                <div class="col-35">
                    <form class="input_detail" name="case_search" method="POST" action="/list_info">
                        <p>搜 尋 條 件 設 定</p>
                        <div class="row">
                            <div class="col-25">
                                <label for="text_search">標 案 名 稱</label>
                            </div>
                            <div class="col-75">
                                <input type="text" class="search" name="case_search" placeholder="Search" value="{{ Case_Name }}" aria-label="Search" aria-describedby="search-addon" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="start_date">公 布 日 期</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="start_date_begin" placeholder="在這邊輸入(例:1990-01-01)" value="{{ start_date_begin }}" name="start_date_begin">
                                <input type="text" id="start_date_final" placeholder="在這邊輸入(例:1990-01-01)" value="{{ start_date_final }}" name="start_date_final">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="end_date">結 標 日 期</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="end_date_begin" placeholder="在這邊輸入(例:1990-01-01)" value="{{ end_date_begin }}" name="end_date_begin">
                                <input type="text" id="end_date_final" placeholder="在這邊輸入(例:1990-01-01)" value="{{ end_date_final }}" name="end_date_final">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="price">決 標 金 額</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="price_start" placeholder="在這邊輸入" value="{{ price_start }}" name="price_start">
                                <input type="text" id="price_end" placeholder="在這邊輸入" value="{{ price_end }}" name="price_end">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="company_case_search">廠 商 選 取</label>
                            </div>
                            <div class="col-75">
                                <input type="text" class="anothersearch" name="company_case_search" placeholder="Search" value="{{ Company_Name }}" aria-label="Search" aria-describedby="search-addon" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="tender_case_search">採 購 單 位</label>
                            </div>
                            <div class="col-75">
                                <input type="text" class="anothersearch" name="tender_case_search" placeholder="Search" value="{{ Tender_Unit_Name }}" aria-label="Search" aria-describedby="search-addon" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="status">標 案 狀 態 </label>
                            </div>
                            <div class="col-75">
                                <select id="status" name="status">
                                    <option selected value ="{{ status }}">請選擇標案狀態</option>
                                    <option value="0">招標</option>
                                    <option value="1">決標</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <input type="submit" class="submit_data" />
                        </div>
                    </form>
                </div>
                <div class="col-65">
                    {% if search_result_case %}
                    <h1>選 取 標 案</h1>
                    <div class="col-result-I">
                        <ul>
                            {% for case in search_result_case %}
                            <li class="case_{{ case.Case_id }}" name="{{ case.Case_id }}" data-index="{{ case.Case_Name }}">
                                <a href='/case_detail?cid={{ case.Case_id }}'>{{ case.Case_Name }}</a>
                            </li>
                            {% endfor %}{% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/Buying_net_js_Home.js ') }}"></script>
</body>

</html>